/* This is where we control what the page looks like */

body {
    Background-color: black;
    color: yellow;
    text-align: left;
}

h1 {
    color: white;
    text-align: center;
}

/*
 * This is what the game output looks like
 */
div.worldview {
    Background-color: white;
    color: black;
    text-align: left;
    font-size: 1.2em;
    border: 3px solid white;
    padding: 10px;
    margin: 20px;
}

div.input {
    color: yellow;
}